<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiple Tables Example</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h2>Основной раздел (Общая информация на каждой странице)</h2>
<table title="general_info_table">
    <thead title="general_info_thead">
        <tr>
            <th>Тип аукциона</th>
            <th>Название протокола</th>
            <th>Номер закупки</th>
            <th>Объект закупки</th>
            <th>Начальная цена</th>
            <th>Размещено в ЕИС</th>
            <th>Размещено в ЭП</th>
        </tr>
    </thead>
    <tbody title="general_info_tbody"></tbody>
</table>

<h2>Общая информация о протоколе</h2>
<table title="main_info_table">
    <thead title="main_info_thead">
        <tr>
            <th>Наименование протокола</th>
            <th>Организация, осуществляющая размещение протокола</th>
            <th>Извещение о проведении электронного аукциона</th>
            <th>Место подведения итогов электронного аукциона</th>
            <th>Дата и время составления протокола</th>
            <th>Дата подписания протокола</th>
        </tr>
    </thead>
    <tbody title="main_info_tbody"></tbody>
</table>

<h2>Список заявок</h2>
<table title="bid_list_table">
    <thead title="bid_list_thead">
    <tr>
        <th>№</th>
        <th>Наименование / ФИО участника</th>
        <th>Признак допуска заявки</th>
        <th>Порядковый номер</th>
        <th>Вид</th>
        <th>Организационно-правовая форма</th>
        <th>Полное наименование</th>
        <th>ИНН</th>
        <th>КПП</th>
        <th>Почтовый адрес</th>
    </tr>
    </thead>
    <tbody title="bid_list_tbody"></tbody>
</table>

<h2>Документы</h2>
<table title="docs_table">
    <thead title="docs_thead">
    <tr>
        <th>Название документа</th>
    </tr>
    </thead>
    <tbody title="docs_tbody"></tbody>
</table>
</body>
</html>
