<?php $this->layout('layout::default', ['title' => '404 Not Found']) ?>

<h1>Oops!</h1>
<h2>This is awkward.</h2>
<p>We encountered a 404 Not Found error.</p>
<p>
    You are looking for something that doesn't exist or may have moved. You can find table on this page <a href="/table">Table</a>.
</p>
