<?php $this->layout('layout::default', ['title' => sprintf('%d %s', $status, $reason)]) ?>

<h1>Oops!</h1>
<h2>This is awkward.</h2>
<p>We encountered a <?=$this->e($status)?> <?=$this->e($reason)?> error.</p>
<?php if ($status == 404) : ?>
    <p>
        You are looking for something that doesn't exist or may have moved. You can find table on this page <a href="/table">Table</a>.
    </p>
<?php endif; ?>
